In [2]:
import pandas as pd
import os

In [3]:
ENROLMENT_RAW_PATH="../raw_dataset/api_data_aadhar_enrolment"

In [4]:
enrolment_files=[ os.path.join(ENROLMENT_RAW_PATH,file)for file in os.listdir(ENROLMENT_RAW_PATH)if file.endswith(".csv")]

In [5]:
print(f"Number of enrolment files found: {len(enrolment_files)}")

Number of enrolment files found: 3

In [6]:
enrolment_df_list=[]
for file in enrolment_files:
  df=pd.read_csv(file)
  enrolment_df_list.append(df)
enrolment_raw_df=pd.concat(enrolment_df_list,ignore_index=True)

In [7]:
print("Enrolment Raw Data Shape:",enrolment_raw_df.shape)
print("\nColumns:")
print(enrolment_raw_df.columns.tolist())
print("\nFirst 5 rows:")
enrolment_raw_df.head()

Enrolment Raw Data Shape: (1006029, 7)

Columns:
['date', 'state', 'district', 'pincode', 'age_0_5', 'age_5_17', 'age_18_greater']

First 5 rows:

,date,state,district,pincode,age_0_5,age_5_17,age_18_greater
0,02-03-2025,Meghalaya,East Khasi Hills,793121,11,61,37
1,09-03-2025,Karnataka,Bengaluru Urban,560043,14,33,39
2,09-03-2025,Uttar Pradesh,Kanpur Nagar,208001,29,82,12
3,09-03-2025,Uttar Pradesh,Aligarh,202133,62,29,15
4,09-03-2025,Karnataka,Bengaluru Urban,560016,14,16,21

In [8]:
enrolment_raw_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1006029 entries, 0 to 1006028
Data columns (total 7 columns):
 #   Column          Non-Null Count    Dtype
---  ------          --------------    -----
 0   date            1006029 non-null  object
 1   state           1006029 non-null  object
 2   district        1006029 non-null  object
 3   pincode         1006029 non-null  int64
 4   age_0_5         1006029 non-null  int64
 5   age_5_17        1006029 non-null  int64
 6   age_18_greater  1006029 non-null  int64
dtypes: int64(4), object(3)
memory usage: 53.7+ MB

In [9]:
space_issue_count=(enrolment_raw_df["date"].str.startswith(" ")|enrolment_raw_df["date"].str.endswith(" ")).sum()

In [10]:
print("Date values with leading/trailing spaces:",space_issue_count)

Date values with leading/trailing spaces: 0

In [11]:
enrolment_raw_df["date"].drop_duplicates().head(10)

0      02-03-2025
1      09-03-2025
33     15-03-2025
61     20-03-2025
123    23-03-2025
129    26-03-2025
130    27-03-2025
165    28-03-2025
167    29-03-2025
168    01-04-2025
Name: date, dtype: object

In [12]:
parsed_dayfirst=pd.to_datetime(enrolment_raw_df["date"],dayfirst=True,errors="coerce")
parsed_monthfirst=pd.to_datetime(enrolment_raw_df["date"],dayfirst=False,errors="coerce")
print("Invalid dates (dayfirst=True):",parsed_dayfirst.isna().sum())
print("Invalid dates (dayfirst=False):",parsed_monthfirst.isna().sum())

Invalid dates (dayfirst=True): 0
Invalid dates (dayfirst=False): 682238

In [13]:
enrolment_clean_df=enrolment_raw_df.copy()
enrolment_clean_df["date"]=enrolment_clean_df["date"].str.strip()
enrolment_clean_df["date"]=pd.to_datetime( enrolment_clean_df["date"],dayfirst=True,errors="coerce")
print("Final invalid dates:",enrolment_clean_df["date"].isna().sum())
enrolment_clean_df["date"].head()

Final invalid dates: 0

0   2025-03-02
1   2025-03-09
2   2025-03-09
3   2025-03-09
4   2025-03-09
Name: date, dtype: datetime64[ns]

In [14]:
enrolment_clean_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1006029 entries, 0 to 1006028
Data columns (total 7 columns):
 #   Column          Non-Null Count    Dtype
---  ------          --------------    -----
 0   date            1006029 non-null  datetime64[ns]
 1   state           1006029 non-null  object
 2   district        1006029 non-null  object
 3   pincode         1006029 non-null  int64
 4   age_0_5         1006029 non-null  int64
 5   age_5_17        1006029 non-null  int64
 6   age_18_greater  1006029 non-null  int64
dtypes: datetime64[ns](1), int64(4), object(2)
memory usage: 53.7+ MB

In [15]:
enrolment_clean_df["state"].dtype,enrolment_clean_df["state"].isna().sum()

(dtype('O'), np.int64(0))

In [16]:
enrolment_clean_df["state"].nunique()

55

In [17]:
enrolment_clean_df["state"].unique()

array(['Meghalaya', 'Karnataka', 'Uttar Pradesh', 'Bihar', 'Maharashtra',
       'Haryana', 'Rajasthan', 'Punjab', 'Delhi', 'Madhya Pradesh',
       'West Bengal', 'Assam', 'Uttarakhand', 'Gujarat', 'Andhra Pradesh',
       'Tamil Nadu', 'Chhattisgarh', 'Jharkhand', 'Nagaland', 'Manipur',
       'Telangana', 'Tripura', 'Mizoram', 'Jammu and Kashmir',
       'Chandigarh', 'Sikkim', 'Odisha', 'Kerala',
       'The Dadra And Nagar Haveli And Daman And Diu',
       'Arunachal Pradesh', 'Himachal Pradesh', 'Goa',
       'Jammu And Kashmir', 'Dadra and Nagar Haveli and Daman and Diu',
       'Ladakh', 'Andaman and Nicobar Islands', 'Orissa', 'Pondicherry',
       'Puducherry', 'Lakshadweep', 'Andaman & Nicobar Islands',
       'Dadra & Nagar Haveli', 'Dadra and Nagar Haveli', 'Daman and Diu',
       'WEST BENGAL', 'Jammu & Kashmir', 'West  Bengal', '100000',
       'Daman & Diu', 'West Bangal', 'Westbengal', 'West bengal',
       'andhra pradesh', 'ODISHA', 'WESTBENGAL'], dtype=object)

In [18]:
enrolment_clean_df["state"].unique()[:15]

array(['Meghalaya', 'Karnataka', 'Uttar Pradesh', 'Bihar', 'Maharashtra',
       'Haryana', 'Rajasthan', 'Punjab', 'Delhi', 'Madhya Pradesh',
       'West Bengal', 'Assam', 'Uttarakhand', 'Gujarat', 'Andhra Pradesh'],
      dtype=object)

In [19]:
state_space_issues=(enrolment_clean_df["state"].str.startswith(" ")|enrolment_clean_df["state"].str.endswith(" ")).sum()
print("State values with leading/trailing spaces:",state_space_issues)

State values with leading/trailing spaces: 0

In [20]:
enrolment_clean_df["state_clean"]=(enrolment_clean_df["state"].str.lower().str.strip().str.replace("&","and",regex=False).str.replace(r"\s+"," ",regex=True))

In [21]:
canonical_states=sorted(["andhra pradesh","arunachal pradesh","assam","bihar","chhattisgarh","goa","gujarat","haryana","himachal pradesh","jharkhand","karnataka","kerala","madhya pradesh","maharashtra","manipur","meghalaya","mizoram","nagaland","odisha","punjab","rajasthan","sikkim","tamil nadu","telangana","tripura","uttar pradesh","uttarakhand","west bengal","andaman and nicobar islands","chandigarh","dadra and nagar haveli and daman and diu","delhi","jammu and kashmir","ladakh","lakshadweep","puducherry"])

In [22]:
dataset_states=sorted(enrolment_clean_df["state_clean"].unique())
extra_states=sorted(set(dataset_states)-set(canonical_states))
missing_states=sorted(set(canonical_states)-set(dataset_states))
print("Extra/problematic states in dataset:")
extra_states
print("\nCanonical states missing from dataset:")
missing_states

Extra/problematic states in dataset:

Canonical states missing from dataset:

[]

In [23]:
len(enrolment_clean_df["state_clean"].unique())

44

In [24]:
sorted(enrolment_clean_df["state_clean"].unique())

['100000',
 'andaman and nicobar islands',
 'andhra pradesh',
 'arunachal pradesh',
 'assam',
 'bihar',
 'chandigarh',
 'chhattisgarh',
 'dadra and nagar haveli',
 'dadra and nagar haveli and daman and diu',
 'daman and diu',
 'delhi',
 'goa',
 'gujarat',
 'haryana',
 'himachal pradesh',
 'jammu and kashmir',
 'jharkhand',
 'karnataka',
 'kerala',
 'ladakh',
 'lakshadweep',
 'madhya pradesh',
 'maharashtra',
 'manipur',
 'meghalaya',
 'mizoram',
 'nagaland',
 'odisha',
 'orissa',
 'pondicherry',
 'puducherry',
 'punjab',
 'rajasthan',
 'sikkim',
 'tamil nadu',
 'telangana',
 'the dadra and nagar haveli and daman and diu',
 'tripura',
 'uttar pradesh',
 'uttarakhand',
 'west bangal',
 'west bengal',
 'westbengal']

In [25]:
state_mapping={
       "orissa":"odisha",
       "pondicherry":"puducherry",
       "dadra and nagar haveli":"dadra and nagar haveli and daman and diu",
       "daman and diu":"dadra and nagar haveli and daman and diu",
       "the dadra and nagar haveli and daman and diu":"dadra and nagar haveli and daman and diu",
       "west bangal":"west bengal",
       "westbengal":"west bengal"
}

In [26]:
enrolment_clean_df["state_mapped"]=(enrolment_clean_df["state_clean"].replace(state_mapping))

In [27]:
enrolment_clean_df["state_final"]=enrolment_clean_df["state_mapped"].where(enrolment_clean_df["state_mapped"].isin(canonical_states),"Unknown/Invalid")

In [28]:
len(enrolment_clean_df["state_final"].unique())

37

In [29]:
enrolment_clean_df["state_final"].value_counts()

state_final
uttar pradesh                               110369
tamil nadu                                   92552
maharashtra                                  77191
west bengal                                  76561
karnataka                                    70198
andhra pradesh                               65663
bihar                                        60567
rajasthan                                    56159
madhya pradesh                               50225
odisha                                       47011
gujarat                                      46624
telangana                                    42774
kerala                                       39145
assam                                        31827
jharkhand                                    23218
punjab                                       20439
chhattisgarh                                 18550
haryana                                      15997
jammu and kashmir                            11455
himachal pradesh                             10346
uttarakhand                                  10007
delhi                                         6804
meghalaya                                     3771
tripura                                       3729
manipur                                       3218
nagaland                                      1999
puducherry                                    1859
arunachal pradesh                             1601
goa                                           1527
mizoram                                       1481
sikkim                                        1010
chandigarh                                     859
dadra and nagar haveli and daman and diu       416
andaman and nicobar islands                    392
ladakh                                         304
lakshadweep                                    159
Unknown/Invalid                                 22
Name: count, dtype: int64

In [30]:
enrolment_clean_df["district"].dtype,enrolment_clean_df["district"].isna().sum()

(dtype('O'), np.int64(0))

In [31]:
enrolment_clean_df["district"].nunique()

985

In [32]:
enrolment_clean_df["district"].unique()[:30]

array(['East Khasi Hills', 'Bengaluru Urban', 'Kanpur Nagar', 'Aligarh',
       'Sitamarhi', 'Bahraich', 'Firozabad', 'Purbi Champaran',
       'Maharajganj', 'Aurangabad', 'Ghaziabad', 'Faridabad', 'Madhubani',
       'Sikar', 'Bhagalpur', 'Amritsar', 'Gurugram',
       'Gautam Buddha Nagar', 'West Delhi', 'Bhind', 'Gwalior', 'Katni',
       'Coochbehar', 'Lucknow', 'Dinajpur Uttar', 'Marigaon', 'Kokrajhar',
       'Agra', 'Haridwar', 'Nagaon'], dtype=object)

In [33]:
enrolment_clean_df["district"].unique()

array(['East Khasi Hills', 'Bengaluru Urban', 'Kanpur Nagar', 'Aligarh',
       'Sitamarhi', 'Bahraich', 'Firozabad', 'Purbi Champaran',
       'Maharajganj', 'Aurangabad', 'Ghaziabad', 'Faridabad', 'Madhubani',
       'Sikar', 'Bhagalpur', 'Amritsar', 'Gurugram',
       'Gautam Buddha Nagar', 'West Delhi', 'Bhind', 'Gwalior', 'Katni',
       'Coochbehar', 'Lucknow', 'Dinajpur Uttar', 'Marigaon', 'Kokrajhar',
       'Agra', 'Haridwar', 'Nagaon', 'Parbhani', 'West Khasi Hills',
       'North West Delhi', 'West Jaintia Hills', 'Unnao', 'Saharanpur',
       'Dibrugarh', 'Udalguri', 'Chirang', 'Kamrup', 'Dhubri', 'Jaunpur',
       'Thane', 'Dhemaji', 'Banas Kantha', 'Tinsukia', 'Spsr Nellore',
       'Barpeta', 'Sonitpur', 'Baksa', 'Ludhiana', 'Patan', 'Kanchipuram',
       'Patna', 'Lakhimpur', 'Bongaigaon', 'Vadodara', 'Nainital',
       'Dehradun', 'Hojai', 'Dohad', 'Morbi', 'Raipur', 'Gorakhpur',
       'Bulandshahr', 'Mathura', 'Pashchim Champaran', 'Bijapur',
       'Deoghar', 'Muzaffarpur', 'Banda', 'Kachchh', 'Ri Bhoi', 'Darrang',
       'Ashok Nagar', 'Darjeeling', 'North Cachar Hills', 'Ranchi',
       'Surat', 'Nanded', 'Bengaluru', 'Jorhat', 'Gir Somnath',
       'Kamrup Metro', 'Goalpara', 'Bhavnagar', 'Golaghat', 'Nagpur',
       'Cooch Behar', 'Jalgaon', 'Hingoli', 'Ahmadnagar', 'Gandhinagar',
       'North 24 Parganas', 'Munger', 'Kohima', 'Jalor', 'Kheda',
       'Nalbari', 'Palghar', 'Jodhpur', 'Central Delhi', 'Gaya',
       'Sabarkantha', 'Dimapur', 'Cachar', 'Banaskantha', 'Kheri',
       'Rajkot', 'Satara', 'Betul', 'West Karbi Anglong', 'South Delhi',
       'Raigad', 'Uttar Dinajpur', 'Guna', 'Kaimur (Bhabua)', 'Dholpur',
       'Churachandpur', 'West Champaran', 'Bharuch', 'Jhargram',
       'Khargone', 'Chhotaudepur', 'Mumbai Suburban', 'Hailakandi',
       'Panchmahals', 'South Salmara Mankachar', 'Budaun', 'Kanpur Dehat',
       'Porbandar', 'West Garo Hills', 'Kapurthala', 'South Garo Hills',
       'Nagaur', 'Mysuru', 'Mahesana', 'Churu', 'Hyderabad',
       'Kancheepuram', 'Varanasi', 'Lohardaga', 'North Garo Hills',
       'Chhatarpur', 'Nadia', 'Purnia', 'Gurgaon', 'Charaideo', 'Jaipur',
       'Saran', 'Morena', 'Dhar', 'Dahod', 'Devbhumi Dwarka',
       'East Champaran', 'Tapi', 'Baghpat', 'Fatehpur',
       'South West Khasi Hills', 'Yadgir', 'Nandurbar', 'Etawah',
       'Jalpaiguri', 'Jabalpur', 'Shamli', 'Sibsagar', 'Barwani', 'Botad',
       'Junagadh', 'Balrampur', 'Bara Banki', 'Shivpuri', 'Beed',
       'Shahjahanpur', 'Jamnagar', 'Chandrapur', 'Durg',
       'K.v. Rangareddy', 'Sirohi', 'Alipurduar', 'South West Delhi',
       'Gonda', 'East Jaintia Hills', 'Bareilly', 'Bundi', 'Solapur',
       'Sitapur', 'Dumka', 'Sultanpur', 'Karbi Anglong', 'Bikaner',
       'Phek', 'Raisen', 'Shrawasti', 'East Delhi', 'Jhabua', 'Unakoti',
       'Indore', 'Bhopal', 'Dungarpur', 'Chandauli', 'Bharatpur',
       'Mainpuri', 'Godda', 'Muzaffarnagar', 'Siddharthnagar', 'Datia',
       'West Tripura', 'Medchal-malkajgiri', 'Sagar', 'Sheopur',
       'Arvalli', 'Surendra Nagar', 'Malda', 'Amreli', 'Alwar',
       'Ambedkar Nagar', 'Madurai', 'Pilibhit', 'Champhai', 'Valsad',
       'Pakur', 'Vaishali', 'Vidisha', 'Karimganj', 'Biswanath',
       'Burhanpur', 'Kaushambi', 'Pune', 'Punch', 'Jehanabad', 'Jalaun',
       'Etah', 'Meerut', 'Baran', 'Sangrur', 'Karauli', 'Anand',
       'Longleng', 'Chandigarh', 'Jamui', 'South Sikkim', 'Panna',
       'East Garo Hills', 'Jhalawar', 'Shahdara', 'Kalaburagi',
       'Thanjavur', 'Peren', 'Tuensang', 'Mahisagar', 'Hoshiarpur',
       'Noklak', 'Sukma', 'Khandwa', 'Ajmer', 'West Sikkim', 'Latur',
       'Basti', 'Satna', 'Gurdaspur', 'Hazaribagh', 'Azamgarh', 'Udaipur',
       'Kolkata', 'Rampur', 'The Dangs', 'East Singhbhum', 'Alirajpur',
       'SAS Nagar (Mohali)', 'South West Garo Hills', 'Moradabad', 'Kota',
       'Dewas', 'Navsari', 'Chumukedima', 'Ahmedabad', 'Nabarangapur',
       'Pali', 'Amroha', 'Saiha', 'Dakshin Dinajpur', 'Bijnor',
       'Pudukkottai', 'Bangalore Rural', 'Kalimpong', 'Deoria',
       'Baramula', 'Gopalganj', 'Prayagraj', 'Lalitpur', 'Mewat', 'Hapur',
       'Jammu', 'Bishnupur', 'Saharsa', 'Arwal', 'Hathras', 'Lawngtlai',
       'Nashik', 'Yavatmal', 'Cuddalore', 'Kollam', 'Patiala', 'Katihar',
       'Malappuram', 'Birbhum', 'Siwan', 'Dhule', 'Baloda Bazar',
       'Washim', 'Coimbatore', 'Lunglei', 'Imphal West', 'Kushinagar',
       'Thiruvananthapuram', 'Sangli', 'Ahmadabad', 'Lakhisarai',
       'Bengaluru Rural', '24 Paraganas North', 'Dima Hasao', 'Banka',
       'Salem', 'Dadra And Nagar Haveli', 'Dang', 'Kaithal', 'Vellore',
       'Shravasti', 'Nalanda', 'Jaisalmer', 'Kallakurichi', 'Farrukhabad',
       'Medinipur West', 'Araria', 'Sonipat', 'Chatra',
       'Gaurella Pendra Marwahi', 'Visakhapatanam', 'Buldhana',
       'Amravati', 'Hardoi', 'Dhalai', 'Ernakulam', 'New Delhi',
       'Bhilwara', 'Ramanathapuram', 'Mon', 'Raichur', 'North Delhi',
       'Rohtak', 'Gumla', 'Barmer', 'Kurukshetra', 'Nuh', 'Ashoknagar',
       'Thrissur', 'S.A.S Nagar', 'North East Delhi', 'Purba Bardhaman',
       'Ambala', 'Panipat', 'Darbhanga', 'Ayodhya', 'Khunti',
       'Medchal Malkajgiri', 'Sivasagar', 'Hisar', 'Sivaganga',
       'Siddharth Nagar', 'West Kameng', 'Kullu', 'Khordha', 'Barabanki',
       'Chengalpattu', 'Ahmednagar', 'Jalore', 'Nawada', 'Hooghly',
       '24 Paraganas South', 'Chennai', 'Surendranagar', 'Mumbai',
       'Nabarangpur', 'Sabar Kantha', 'Ramanagara', 'Wokha',
       'West Singhbhum', 'Sepahijala', 'Samastipur', 'Zunheboto',
       'East Singhbum', 'Sambhal', 'Chittorgarh', 'Panch Mahals', 'Bidar',
       'Tonk', 'Longding', 'Jhansi', 'Howrah', 'Raigarh', 'Giridih',
       'Akola', 'North Goa', 'Vijayapura', 'Begusarai', 'Ranga Reddy',
       'Thiruvallur', 'Bhadradri Kothagudem', 'Hanumangarh', 'Kannur',
       'Tarn Taran', 'Majuli', 'Balaghat', 'Kiphire', 'Dinajpur Dakshin',
       'East Nimar', 'Osmanabad', 'Dhanbad', 'Kasganj', 'Shopian',
       'Sehore', 'Kannauj', 'Narsinghpur', 'Bilaspur', 'Kolasib',
       'Sawai Madhopur', 'North Tripura', 'Kushi Nagar', 'Prakasam',
       'Bhojpur', 'Hoshangabad', 'Doda', 'Mokokchung', 'Gomati',
       'Krishna', 'Kurnool', 'Mahabub Nagar', 'Mahbubnagar', 'Medak',
       'N. T. R', 'Nalgonda', 'Nandyal', 'Nellore', 'Palnadu',
       'Rangareddi', 'Sri Potti Sriramulu Nellore', 'Sri Sathya Sai',
       'Srikakulam', 'Tirupati', 'Visakhapatnam', 'Vizianagaram',
       'Warangal', 'West Godavari', 'Y. S. R', 'Changlang', 'East Kameng',
       'Tawang', 'West Siang', 'Bajali', 'Sribhumi', 'Buxar', 'Khagaria',
       'Kishanganj', 'Madhepura', 'Rohtas', 'Sheohar', 'Supaul', 'Bastar',
       'Bemetara', 'Gariyaband', 'Jashpur', 'Kawardha', 'Kondagaon',
       'Korba', 'Manendragarh–Chirmiri–Bharatpur', 'Rajnandgaon', 'Sakti',
       'Sarangarh-Bilaigarh', 'Surajpur', 'Surguja',
       'Dadra and Nagar Haveli', 'South Goa', 'Narmada', 'Bhiwani',
       'Charkhi Dadri', 'Fatehabad', 'Jhajjar', 'Jind', 'Karnal',
       'Mahendragarh', 'Rewari', 'Sirsa', 'Yamuna Nagar', 'Hamirpur',
       'Kangra', 'Mandi', 'Sirmaur', 'Solan', 'Una', 'Anantnag', 'Badgam',
       'Bandipore', 'Budgam', 'Kargil', 'Kathua', 'Kupwara', 'Leh',
       'Pulwama', 'Rajouri', 'Ramban', 'Reasi', 'Samba', 'Srinagar',
       'Udhampur', 'Bokaro', 'Garhwa', 'Garhwa *', 'Hazaribag', 'Jamtara',
       'Latehar', 'Palamau', 'Palamu', 'Purbi Singhbhum', 'Ramgarh',
       'Sahebganj', 'Seraikela-Kharsawan', 'Seraikela-kharsawan',
       'Simdega', 'Bagalkot', 'Bagalkot *', 'Ballari', 'Bangalore',
       'Belagavi', 'Belgaum', 'Bellary', 'Chamarajanagar',
       'Chamrajanagar', 'Chamrajnagar', 'Chickmagalur', 'Chikkaballapur',
       'Chikkamagaluru', 'Chikmagalur', 'Chitradurga', 'Dakshina Kannada',
       'Davanagere', 'Davangere', 'Dharwad', 'Gadag', 'Gadag *',
       'Gulbarga', 'Hassan', 'Haveri', 'Kodagu', 'Kolar', 'Koppal',
       'Mandya', 'Mysore', 'Ramanagar', 'Shimoga', 'Shivamogga',
       'Tumakuru', 'Tumkur', 'Udupi', 'Uttara Kannada', 'Vijayanagara',
       'Alappuzha', 'Idukki', 'Kasaragod', 'Kasargod', 'Kottayam',
       'Kozhikode', 'Palakkad', 'Pathanamthitta', 'Wayanad', 'Agar Malwa',
       'Anuppur', 'Chhindwara', 'Damoh', 'Dindori', 'Harda', 'Maihar',
       'Mandla', 'Mandsaur', 'Narmadapuram', 'Narsimhapur', 'Neemuch',
       'Niwari', 'Rajgarh', 'Ratlam', 'Rewa', 'Seoni', 'Shahdol',
       'Shajapur', 'Sidhi', 'Singrauli', 'Tikamgarh', 'Ujjain',
       'West Nimar', 'Ahmed Nagar', 'Bhandara', 'Buldana',
       'Chhatrapati Sambhajinagar', 'Gadchiroli', 'Gondiya', 'Jalna',
       'Kolhapur', 'Mumbai City', 'Ratnagiri', 'Sindhudurg', 'Wardha',
       'Senapati', 'Tamenglong', 'Aizawl', 'Angul', 'Nicobar',
       'South Andaman', 'Adilabad', 'Alluri Sitharama Raju', 'Anakapalli',
       'Anantapur', 'Ananthapur', 'Ananthapuramu', 'Bapatla', 'Chittoor',
       'Cuddapah', 'Dr. B. R. Ambedkar Konaseema', 'East Godavari',
       'Eluru', 'Guntur', 'Kakinada', 'Karimnagar', 'Khammam', 'Anugul',
       'Balangir', 'Baleswar', 'Bargarh', 'Baudh', 'Bhadrak', 'Boudh',
       'Cuttack', 'Debagarh', 'Dhenkanal', 'Gajapati', 'Ganjam', 'JAJPUR',
       'Jagatsinghapur', 'Jagatsinghpur', 'Jajapur', 'Kalahandi',
       'Kandhamal', 'Kendrapara', 'Kendujhar', 'Khorda', 'Koraput',
       'Malkangiri', 'Mayurbhanj', 'Nayagarh', 'Nuapada', 'Puri',
       'Rayagada', 'Sambalpur', 'Sonapur', 'Subarnapur', 'Sundargarh',
       'Sundergarh', 'Baleshwar', 'Pondicherry', 'Karaikal', 'Puducherry',
       'Yanam', 'Barnala', 'Bathinda', 'Faridkot', 'Fatehgarh Sahib',
       'Ferozepur', 'Firozpur', 'Jalandhar', 'Malerkotla', 'Mansa',
       'Muktsar', 'Pathankot', 'Rupnagar', 'Shaheed Bhagat Singh Nagar',
       'Sri Muktsar Sahib', 'Banswara', 'Chittaurgarh', 'Dausa',
       'Ganganagar', 'Jhunjhunun', 'Pratapgarh', 'Rajsamand', 'East',
       'North Sikkim', 'South', 'Ariyalur', 'Dharmapuri', 'Dindigul',
       'Erode', 'Kanniyakumari', 'Kanyakumari', 'Karur', 'Krishnagiri',
       'Mayiladuthurai', 'Nagapattinam', 'Namakkal', 'Perambalur',
       'Ranipet', 'Tenkasi', 'The Nilgiris', 'Theni', 'Thiruvarur',
       'Thoothukkudi', 'Tiruchirappalli', 'Tirunelveli', 'Tirupattur',
       'Tiruppur', 'Tiruvallur', 'Tiruvannamalai', 'Villupuram',
       'Viluppuram', 'Virudhunagar', 'Hanumakonda', 'Jagitial', 'Jangoan',
       'Jayashankar Bhupalpally', 'Jogulamba Gadwal', 'Kamareddy',
       'Komaram Bheem', 'Mahabubabad', 'Mahabubnagar', 'Mancherial',
       'Medchal−malkajgiri', 'Mulugu', 'Nagarkurnool', 'Narayanpet',
       'Nirmal', 'Nizamabad', 'Peddapalli', 'Rajanna Sircilla',
       'Sangareddy', 'Siddipet', 'Suryapet', 'Vikarabad', 'Wanaparthy',
       'Warangal Rural', 'Warangal Urban', 'Yadadri.', 'Khowai',
       'South Tripura', 'Allahabad', 'Amethi', 'Auraiya', 'Ballia',
       'Bhadohi', 'Chitrakoot', 'Faizabad', 'Ghazipur', 'Mahoba', 'Mau',
       'Mirzapur', 'Rae Bareli', 'Sant Kabir Nagar', 'Sant Ravidas Nagar',
       'Sonbhadra', 'Almora', 'Bageshwar', 'Chamoli', 'Garhwal',
       'Pauri Garhwal', 'Pithoragarh', 'Rudraprayag', 'Tehri Garhwal',
       'Udham Singh Nagar', 'Uttarkashi', 'Bankura', 'Barddhaman',
       'Bardhaman', 'Darjiling', 'East Midnapore', 'Haora', 'Koch Bihar',
       'Maldah', 'Murshidabad', 'North Twenty Four Parganas',
       'Paschim Bardhaman', 'Paschim Medinipur', 'Purba Medinipur',
       'Purulia', 'Puruliya', 'South 24 Parganas', 'South Dinajpur',
       'South Twenty Four Parganas', 'West Midnapore', 'North East',
       'Parvathipuram Manyam', 'Kurung Kumey', 'Lohit',
       'Lower Dibang Valley', 'Papum Pare', 'Upper Siang',
       'Aurangabad(bh)', 'Purba Champaran', 'Purnea', 'Sheikhpura',
       'Balod', 'Dhamtari', 'Gaurela-pendra-marwahi', 'Janjgir-champa',
       'Kabeerdham', 'Kanker', 'Khairagarh Chhuikhadan Gandai', 'Koriya',
       'Mahasamund', 'Mohla-Manpur-Ambagarh Chouki', 'Mungeli',
       'Narayanpur', 'Palwal', 'Chamba', 'Shimla', 'Ganderbal', 'Kodarma',
       'Pakaur', 'Sahibganj', 'Hasan', 'yadgir', 'Lakshadweep', 'Harda *',
       'Mauganj', 'Umaria', 'Chatrapati Sambhaji Nagar',
       'Mumbai( Sub Urban )', 'Nandurbar *', 'Imphal East', 'Thoubal',
       'Ukhrul', 'Eastern West Khasi Hills', 'Mamit', 'Serchhip',
       'Andamans', 'North And Middle Andaman', 'Annamayya',
       'K.V.Rangareddy', 'Karim Nagar', 'Rangareddy', 'Bulandshahar',
       'Hugli', 'North Dinajpur', 'Jharsuguda', 'Fazilka', 'Moga',
       'North', 'Chandel', 'Kakching', 'S.A.S Nagar(Mohali)', 'Jhunjhunu',
       'East Sikkim', 'West', 'Lower Subansiri', 'Namsai', 'Sheikpura',
       'Dakshin Bastar Dantewada', 'Dadra & Nagar Haveli', 'Daman',
       'Panchkula', 'Kishtwar', 'Shupiyan', 'Pashchimi Singhbhum',
       'Pandhurna', 'Bid', 'Gondiya *', 'Jyotiba Phule Nagar',
       'Sant Ravidas Nagar Bhadohi', 'HOOGHLY', 'Meluri', 'Dhaulpur',
       'Anjaw', 'East Siang', 'Tamulpur District', 'Dantewada', 'Koderma',
       'Chamarajanagar *', 'Dharashiv', 'Gondia', 'Dhalai  *', 'Kulgam',
       'Jiribam', 'Saitual', 'NUAPADA', 'Kra Daadi', 'Upper Subansiri',
       'Bhabua', 'Champawat', 'Kamle', 'Haveri *', 'Mammit', 'Shamator',
       'Nawanshahr', 'Jangaon', 'NADIA', '100000', 'Monghyr',
       'Uttar Bastar Kanker', 'South East Delhi', 'Samstipur', 'Diu',
       'Najafgarh', 'Kinnaur', 'Tuticorin', 'Warangal (urban)', 'Siang',
       'Tirap', 'Namchi', 'HOWRAH', 'Hardwar', 'Niuland', 'Shi-yomi',
       'Khawzawl', 'Janjgir - Champa', 'Lahul and Spiti',
       'Janjgir Champa', 'Washim *', 'Nicobars', 'Lower Siang',
       'Yamunanagar', 'Lahul & Spiti', 'Jhajjar *', 'ANUGUL', 'Raebareli',
       'Hawrah', 'jajpur', 'Aurangabad(BH)', 'Bengaluru South',
       'Raigarh(MH)', 'MALDA', 'Tirupathur', 'Dibang Valley', 'hooghly',
       'rangareddi', 'Deeg\xa0', 'Leparada', 'Medchal?malkajgiri',
       'Medinipur', 'Mohalla-Manpur-Ambagarh Chowki', 'Tseminyu',
       'Jajpur', 'Mahrajganj', 'Hnahthial', 'Pakke Kessang', 'chittoor',
       'Kushinagar *', 'Tiruvarur', 'East Midnapur', 'nadia', 'Hingoli *',
       'North East   *', 'Bardez', 'Namakkal   *', 'Hooghiy', 'Pherzawl',
       'Jaintia Hills', 'KOLKATA', 'West Medinipur', 'Lahaul and Spiti',
       'Burdwan', 'Bandipur', 'Mangan', 'South 24 parganas',
       'Leh (ladakh)', 'Bokaro *', 'South 24 Pargana', 'Ahilyanagar',
       'Deeg', 'Anugal', 'Udupi *', 'Kendrapara *', 'Rajauri',
       'Bijapur(KAR)', 'Bagpat', 'punch', 'ANGUL', 'Balotra',
       'Didwana-Kuchaman', 'Salumbar', 'Beawar'], dtype=object)

In [34]:
district_space_issues=(enrolment_clean_df["district"].str.startswith(" ")|enrolment_clean_df["district"].str.endswith(" ")).sum()
district_space_issues

np.int64(0)

In [35]:
enrolment_clean_df["district_norm"]=(enrolment_clean_df["district"].str.lower().str.strip().str.replace(r"\s+","",regex=True))

In [36]:
print("Original district unique count:",enrolment_clean_df["district"].nunique())
print("Normalised district unique count:",enrolment_clean_df["district_norm"].nunique())

Original district unique count: 985
Normalised district unique count: 947

In [37]:
district_collapse_check=(enrolment_clean_df.groupby("district_norm")["district"].nunique().sort_values(ascending=False))
district_collapse_check.head(10)

district_norm
hooghly                3
jajpur                 3
nadia                  3
angul                  2
kolkata                2
barabanki              2
anugul                 2
chittoor               2
dadraandnagarhaveli    2
banaskantha            2
Name: district, dtype: int64

In [38]:
state_district_check=(enrolment_clean_df.groupby(["state_final","district_norm"])["district"].nunique().sort_values(ascending=False))
state_district_check.head(10)

state_final        district_norm
west bengal        nadia             3
odisha             jajpur            3
west bengal        hooghly           3
karnataka          yadgir            2
jammu and kashmir  punch             2
andhra pradesh     k.v.rangareddy    2
chhattisgarh       janjgir-champa    2
haryana            yamunanagar       2
andhra pradesh     rangareddi        2
gujarat            sabarkantha       2
Name: district, dtype: int64

In [39]:
enrolment_clean_df["pincode"].dtype,enrolment_clean_df["pincode"].isna().sum(),enrolment_clean_df["pincode"].nunique()

(dtype('int64'), np.int64(0), 19463)

In [40]:
pincode_len_counts=enrolment_clean_df["pincode"].astype(str).str.len().value_counts().sort_index()
pincode_len_counts

pincode
6    1006029
Name: count, dtype: int64

In [41]:
enrolment_clean_df["pincode"].value_counts().head(10)

pincode
500055    274
500018    267
500005    247
110053    219
431001    216
743329    214
244102    211
831002    207
713143    202
853204    198
Name: count, dtype: int64

In [42]:
enrolment_clean_df["pincode"]=enrolment_clean_df["pincode"].astype(str)

In [43]:
enrolment_clean_df["pincode"].dtype

dtype('O')

In [44]:
enrolment_agg_df=(enrolment_clean_df.groupby(["date","state_final","district_norm"],as_index=False).agg({"age_0_5":"sum","age_5_17":"sum","age_18_greater":"sum"}))

In [45]:
enrolment_agg_df["total_enrolments"]=(enrolment_agg_df["age_0_5"]+enrolment_agg_df["age_5_17"]+enrolment_agg_df["age_18_greater"])

In [46]:
print("Aggregated shape:",enrolment_agg_df.shape)
enrolment_agg_df.head()

Aggregated shape: (64680, 7)

,date,state_final,district_norm,age_0_5,age_5_17,age_18_greater,total_enrolments
0,2025-03-02,meghalaya,eastkhasihills,11,61,37,109
1,2025-03-09,bihar,bhagalpur,13,40,18,71
2,2025-03-09,bihar,madhubani,18,120,22,160
3,2025-03-09,bihar,purbichamparan,48,120,22,190
4,2025-03-09,bihar,sitamarhi,127,353,104,584

In [47]:
print("original total enrolments:",enrolment_clean_df[["age_0_5","age_5_17","age_18_greater"]].sum().sum())
print("aggregated total enrolments:",enrolment_agg_df["total_enrolments"].sum())

original total enrolments: 5435702
aggregated total enrolments: 5435702

In [48]:
district_lookup=(enrolment_clean_df.groupby(["state_final","district_norm"])["district"].agg(lambda x:x.mode().iloc[0]).reset_index())
enrolment_agg_df=enrolment_agg_df.merge(district_lookup,on=["state_final","district_norm"],how="left")

In [49]:
enrolment_agg_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 64680 entries, 0 to 64679
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   date              64680 non-null  datetime64[ns]
 1   state_final       64680 non-null  object
 2   district_norm     64680 non-null  object
 3   age_0_5           64680 non-null  int64
 4   age_5_17          64680 non-null  int64
 5   age_18_greater    64680 non-null  int64
 6   total_enrolments  64680 non-null  int64
 7   district          64680 non-null  object
dtypes: datetime64[ns](1), int64(4), object(3)
memory usage: 3.9+ MB

In [50]:
enrolment_agg_df.isna().sum()

date                0
state_final         0
district_norm       0
age_0_5             0
age_5_17            0
age_18_greater      0
total_enrolments    0
district            0
dtype: int64

In [51]:
enrolment_agg_df.head()

,date,state_final,district_norm,age_0_5,age_5_17,age_18_greater,total_enrolments,district
0,2025-03-02,meghalaya,eastkhasihills,11,61,37,109,East Khasi Hills
1,2025-03-09,bihar,bhagalpur,13,40,18,71,Bhagalpur
2,2025-03-09,bihar,madhubani,18,120,22,160,Madhubani
3,2025-03-09,bihar,purbichamparan,48,120,22,190,Purbi Champaran
4,2025-03-09,bihar,sitamarhi,127,353,104,584,Sitamarhi

In [52]:
(enrolment_agg_df["total_enrolments"]>=0).all()

np.True_

In [53]:
os.makedirs("../final_dataset",exist_ok=True)
enrolment_agg_df.to_csv("../final_dataset/enrolment_aggregated.csv",index=False)