In [27]:
import pandas as pd
import os

In [2]:
enrolment_agg_df=pd.read_csv("../final_dataset/enrolment_aggregated.csv",parse_dates=["date"])

In [3]:
demographic_agg_df=pd.read_csv("../final_dataset/demographic_aggregated.csv",parse_dates=["date"])

In [4]:
enrolment_agg_df["year_month"]=(enrolment_agg_df["date"].dt.to_period("M").astype(str))

In [5]:
demographic_agg_df["year_month"]=(
  demographic_agg_df["date"].dt.to_period("M").astype(str)
)

In [7]:
enrolment_monthly_df=(
  enrolment_agg_df.groupby(["year_month","state_final","district_norm"],as_index=False).agg({"age_0_5":"sum","age_5_17":"sum","age_18_greater":"sum","total_enrolments":"sum"})
)

In [15]:
demographic_monthly_df=(demographic_agg_df.groupby(["year_month","state_final","district_norm"],as_index=False).agg({"demo_age_5_17":"sum","demo_age_17_":"sum","total_demographic_updates":"sum"}))

In [16]:
print("Original enrolments:",enrolment_agg_df["total_enrolments"].sum())

Original enrolments: 5435702

In [17]:
print("Monthly enrolments:",enrolment_monthly_df["total_enrolments"].sum())

Monthly enrolments: 5435702

In [10]:
(enrolment_monthly_df["total_enrolments"]>=0).all

<bound method Series.all of 0       True
1       True
2       True
3       True
4       True
        ...
4760    True
4761    True
4762    True
4763    True
4764    True
Name: total_enrolments, Length: 4765, dtype: bool>

In [18]:
print("Original demographic updates:",demographic_agg_df["total_demographic_updates"].sum())

Original demographic updates: 49295187

In [19]:
print("Monthly demographic updates:",demographic_monthly_df["total_demographic_updates"].sum())

Monthly demographic updates: 49295187

In [20]:
(demographic_monthly_df["total_demographic_updates"]>=0).all

<bound method Series.all of 0       True
1       True
2       True
3       True
4       True
        ...
5723    True
5724    True
5725    True
5726    True
5727    True
Name: total_demographic_updates, Length: 5728, dtype: bool>

In [21]:
enrolment_monthly_df.head()

,year_month,state_final,district_norm,age_0_5,age_5_17,age_18_greater,total_enrolments
0,2025-03,andhra pradesh,spsrnellore,43,44,29,116
1,2025-03,assam,baksa,11,14,13,38
2,2025-03,assam,barpeta,24,34,10,68
3,2025-03,assam,bongaigaon,25,33,31,89
4,2025-03,assam,chirang,12,29,15,56

In [22]:
demographic_monthly_df.head()

,year_month,state_final,district_norm,demo_age_5_17,demo_age_17_,total_demographic_updates
0,2025-03,andaman and nicobar islands,nicobar,32,360,392
1,2025-03,andaman and nicobar islands,north and middle andaman,20,402,422
2,2025-03,andaman and nicobar islands,south andaman,74,450,524
3,2025-03,andhra pradesh,adilabad,390,3950,4340
4,2025-03,andhra pradesh,alluri sitharama raju,507,4448,4955

In [28]:
os.makedirs("../final_dataset",exist_ok=True)
enrolment_monthly_df.to_csv("../final_dataset/enrolment_monthly.csv",index=False)
demographic_monthly_df.to_csv("../final_dataset/demographic_monthly.csv",index=False)

In [29]:
os.listdir("../final_dataset")

['demographic_aggregated.csv',
 'demographic_monthly.csv',
 'enrolment_aggregated.csv',
 'enrolment_monthly.csv']